
body{
    /* background: rgb(128, 204, 255); */
}

hr{
    padding: 0px;
}

#z-plane{
    border: 2px solid rgb(0, 132, 161);
}

.big-plane{
    background: url(../images/bgUp0.png) no-repeat;
    margin-top: -16px;
    padding-top: 10px;
}

/* .response-plane{
    background: url(../images/bgUp0.png) no-repeat; 
} */

.plane{
    box-sizing: border-box;
    display: block;
    text-align: -webkit-center;
}

.plot{
    margin-bottom: 0px;
}

.imageMenu{
    width: 70px;
    height: 70px;
}

.tab-content{
    padding-top: 15px;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}