
body{
    /* background: rgb(128, 204, 255); */
}

hr{
    padding: 0px;
}

#z-plane{
    border: 2px solid rgb(0, 132, 161);
}

.big-plane{
    background: url(../images/bgUp0.png) no-repeat;
    margin-top: 110px;
    padding-top: 30px;
}

.plane{
    box-sizing: border-box;
    display: block;
    text-align: -webkit-center;
}

.plot{
    margin-bottom: 0px;
}

.imageMenu{
    width: 55px;
    height: 55px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.tab-pane a{
    text-decoration: none;
}

.tab-content{
    padding-top: 15px;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}


/* Slider */
.slidercontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 15px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #0082d9;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0082d9;
    cursor: pointer;
  }
  
  .speedLabel{
    font-size: 16px;
    color: rgb(0 124 207);
  }

.axis path,
.axis line {
 color: darkgray;
}

.passInput{
    width: 100px;
    margin-right: 5px;
    padding: 3px;
    height: 35px;
}
.passSubmit{
    height: 35px;
}

.form-label-pass{
    font-size: 20px;
    padding: 0 13px;
    font-family: inherit;
    margin-left: -7px;
    font-weight: bold;
}

.passDiv {
    width: 10%;
}

.navbar-top {
    background: #fcfdff;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #059fff;
}